cryptography
django
djangorestframework
django-allauth
django-cleanup
django-filter 
django-resized
django-social-share 
django-tinymce
openpyxl
khayyam
pusher
pylint 
PyMySQL
qrcode
markdown
mysqlclient
pylint-django
python-dateutil
python-resize-image
Pillow
requests
